#main { width: 1100px; margin-left: 150px; padding-top: 80px; border-left: 1px solid #e4e4e4; }

#main .car { width: 800px; height: 500px; margin-left: 140px; overflow: hidden; }

.gds-bigzoom img { width: 1000px; }

#main .car select { margin-top: 10px; width: 400px; height: 26px; }

#main .car input { margin-top: 10px; width: 40px; height: 26px; }

#main .detail_pic { width: 240px; margin-top: 50px; float: left; }

#main .detail_car { float: right; width: 500px; height: 600px; margin-top: 50px; }

#main .detail_car p { border-bottom: 1px dashed #e5e5e5; padding-bottom: 10px; }

.detail_car p span { display: block; height: 26px; line-height: 26px; font-size: 14px; }

#main .car .jia { display: inline-block; width: 16px; height: 16px; line-height: 16px; text-align: center; background-color: pink; border-radius: 50%; color: red; }

#main .car .jian { display: inline-block; width: 16px; height: 16px; line-height: 16px; text-align: center; background-color: pink; border-radius: 50%; color: red; }

.detail_car span { height: 26px; line-height: 26px; font-size: 14px; }

.position { position: absolute; }

.detail_car .jia, .jian { margin-left: 20px; border-radius: 50%; text-align: center; }

.detail_car .cunru { display: inline-block; margin-top: 20px; border-radius: 10px; width: 180px; line-height: 40px; text-align: center; height: 40px; background-color: #d5d5d5; }

.detail_car .gouwuche { display: inline-block; margin-top: 20px; border-radius: 10px; width: 180px; height: 40px; text-align: center; line-height: 40px; background-color: #d5d5d5; }

.detail_car .erweima { display: inline-block; width: 100px; height: 40px; text-align: center; line-height: 40px; border: 1px solid black; position: relative; background-color: #e5e5e5; position: relative; }

.detail_car .erweima .erweimapic { width: 130px; height: 0px; position: absolute; top: 40px; display: none; left: -15px; }

.detail_car .erweima .erweimapic img { width: 100%; }

.detail_page { width: 1100px; height: 80px; padding-top: 20px; overflow: hidden; margin-bottom: 60px; background-color: pink; }

.detail_page .page_list li { font-size: 16px; border-right: 1px solid #e5e5e5; width: 220px; text-align: center; float: left; }

.detail p { height: 30px; line-height: 30px; text-align: center; }

.detail ul { margin-left: 150px; }

.detail ul li { margin-bottom: 30px; }
